.places {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 80px;
    padding: 92px 0 92px;
    max-width: 984px;
    height: 3392px;
  }
  
  @media screen and (max-width: 1279px) {
    .places {
      max-width: 928px;
      height: 3292px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .places {
      row-gap: 73px;
      padding: 88px 0 90px;
      max-width: 720px;
      height: 2808px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .places {
      row-gap: 50px;
      padding: 64px 0 66px;
      max-width: 320px;
      height: 5177px;  
    }
  }