.footer {
    display: flex;
    margin: 0 auto;
    padding: 0 48px 24px 48px;
    justify-content: space-between;
    max-width: 1184px;
  }
  
  @media screen and (max-width: 1279px) {
    .footer {
      max-width: 928px;
      padding: 0 48px 24px 48px;
  }
  }
  
  @media screen and (max-width: 1023px) {
    .footer {
      max-width: 720px;
      padding: 0 24px 24px 24px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .footer {
      flex-direction: column;
      max-width: 210px;
      height: 310px;
      padding: 0 94px 24px 16px;
    }
  }